.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  align-items: center;
}

.img {
  height: 60%;
  width: 60%;
  object-fit: contain;
}

.text {
  color: #ffffff;
  padding-bottom: 4px;
  margin-top: 3px;
  font-size: 12px;
  // margin-bottom: 3px;
}